<div class="main-container">
    <form action="/add" method="POST" enctype="multipart/form-data">
    <pre>Title</pre> <input type="text" id="title" name="title" placeholder="Your Title" required/>
    <pre>Image</pre> <input type="file" accept="image" id="image" name="image"/>
    <pre>Content</pre> <!--<input type="text" id="content"/>-->
    <textarea id="content" name="content" placeholder="Your Content Here" required></textarea>
    <br><br>
    <label><button type="submit"/>Post</label>
    </form>
</div>
