$def with (content)
<html>
<head>
    <link href="static/main.css" type="text/css" rel="stylesheet" />
    <title>My Blog</title>
</head>
<body>
    <h1 id="Heading">My Blog</h1>
    <div id="navbar">
        <a href="/home"><div class="nav">Home</div></a>
        <a href="add"><div class="nav">Add</div></a>
    </div>
    <!--<div class="main-container">
        Place the main content here
        This is demo text.
    </div>-->
    $:content
    <!--
    <div class="main-container">
        <h1>Some Random Title</h1>
        Some more text.
    </div>
    -->
    <footer>
        <pre>This website is the intellectual property of adch99.</pre>
    </footer>
</body>
</html>
